# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

***Objectives:***
- List popular languages for Data Science
- List of commonly used libraries by Data Scientist
- List of development environment open source tools used in Data Science
- Perform arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R language
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|Colab             |
|Rstudio           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200*1/60

3.3333333333333335

## Author
Pius Addi